/* Bugs and feature requests Database    */
/* (c) 2011 Olivier Giulieri -  www.evolutility.org */
/*
	This file is part of Evolutility CRUD Framework.
	Source link <http://www.evolutility.org/download/download.aspx>

	Evolutility is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	Evolutility is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with Evolutility. If not, see <http://www.gnu.org/licenses/>.
*/


/****** Object:  Table [Bug]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bug](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL CONSTRAINT [DF_Bug_UserID]  DEFAULT ((1)),
	[Publish] [bit] NULL,
	[Title] [nvarchar](100) NULL CONSTRAINT [DF_Bug_Title]  DEFAULT ('<Untitled>'),
	[Description] [nvarchar](3000) NULL,
	[ProductID] [int] NOT NULL CONSTRAINT [DF_Bug_Product_ID]  DEFAULT ((1)),
	[SeverityID] [int] NOT NULL CONSTRAINT [DF_Bug_SeverityID]  DEFAULT ((1)),
	[PriorityID] [int] NOT NULL CONSTRAINT [DF_Bug_Priority_ID]  DEFAULT ((1)),
	[StatusID] [int] NOT NULL CONSTRAINT [DF_Bug_Status_ID]  DEFAULT ((1)),
	[ResolutionID] [int] NULL CONSTRAINT [DF_Bug_ResolutionID]  DEFAULT ((1)),
	[SubmitDate] [datetime] NULL CONSTRAINT [DF_Bug_Submitted]  DEFAULT (getdate()),
	[ExpectedDate] [datetime] NULL CONSTRAINT [DF_Bug_SubmitDate1]  DEFAULT (getdate()),
	[CloseDate] [datetime] NULL CONSTRAINT [DF_Bug_SubmitDate2]  DEFAULT (getdate()),
	[CloseRelease] [nvarchar](10) NULL,
	[ErrorMSG] [nvarchar](500) NULL,
	[DevComments] [nvarchar](300) NULL,
	[Acknowledged] [datetime] NULL,
	[Expected_Fix] [datetime] NULL,
	[LongDescription] [nvarchar](50) NULL,
	[Workaround] [nvarchar](500) NULL,
	[Reproduction] [nvarchar](500) NULL,
	[Demo1] [nvarchar](100) NULL,
	[BDesign] [bit] NULL,
	[BSQL] [bit] NULL,
	[BXML] [bit] NULL,
	[BHTML] [bit] NULL,
	[BJavascript] [bit] NULL,
	[User_Management] [bit] NULL,
	[Integration] [bit] NULL,
	[CommentCount] [int] NULL CONSTRAINT [DF_Bug_CommentCount]  DEFAULT ((0)),
 CONSTRAINT [PK_Bug] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [BugPriority]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BugPriority](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[name_FR] [nvarchar](50) NULL,
	[description] [nvarchar](200) NULL,
	[description_FR] [nvarchar](200) NULL,
 CONSTRAINT [PK_BugPriority] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [EvolProduct]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [EvolProduct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_BugProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [BugResolution] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BugResolution](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[name_FR] [nvarchar](50) NULL,
	[description] [nvarchar](200) NULL,
	[description_FR] [nvarchar](200) NULL,
 CONSTRAINT [PK_BugResolution] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [BugSeverity] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BugSeverity](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[name_FR] [nvarchar](50) NULL,
	[description] [nvarchar](200) NULL,
	[description_FR] [nvarchar](200) NULL,
 CONSTRAINT [PK_BugSeverity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [BugStatus]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BugStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[name_FR] [nvarchar](100) NULL,
	[description] [nvarchar](200) NULL,
	[description_FR] [nvarchar](200) NULL,
 CONSTRAINT [PK_BugStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


/*** ExportWizard BugPriority ***/

SET IDENTITY_INSERT BugPriority ON;

INSERT INTO BugPriority (ID, name, name_FR, description, description_FR)
  VALUES (1, '1 - Top Priority', '1 - Prioritaire', '', '');
INSERT INTO BugPriority (ID, name, name_FR, description, description_FR)
  VALUES (2, '2 - Urgent', '2 - Urgent', '', '');
INSERT INTO BugPriority (ID, name, name_FR, description, description_FR)
  VALUES (3, '3 - Normal', '3 - Régulier', '', '');

SET IDENTITY_INSERT BugPriority OFF;

GO

SET IDENTITY_INSERT BugResolution ON;

INSERT INTO BugResolution (ID, name, name_FR, description, description_FR)
  VALUES (1, 'N/A', '', '', '');
INSERT INTO BugResolution (ID, name, name_FR, description, description_FR)
  VALUES (2, 'Fixed', '', '', '');
INSERT INTO BugResolution (ID, name, name_FR, description, description_FR)
  VALUES (3, 'Invalid', '', '', '');

SET IDENTITY_INSERT BugResolution OFF;

GO


SET IDENTITY_INSERT BugSeverity ON;

INSERT INTO BugSeverity (ID, name, name_FR, description, description_FR)
  VALUES (1, 'Blocker', '1 - Grave', '', '');
INSERT INTO BugSeverity (ID, name, name_FR, description, description_FR)
  VALUES (2, 'Critical', '2 - Critique', '', '');
INSERT INTO BugSeverity (ID, name, name_FR, description, description_FR)
  VALUES (3, 'Major', '3 - Majeur', '', '');

SET IDENTITY_INSERT BugSeverity OFF;

GO

SET IDENTITY_INSERT BugStatus ON;

INSERT INTO BugStatus (ID, name, name_FR, description, description_FR)
  VALUES (1, 'Unconfirmed', 'Non confirmé', '', '');
INSERT INTO BugStatus (ID, name, name_FR, description, description_FR)
  VALUES (2, 'New', 'Nouveau', '', '');
INSERT INTO BugStatus (ID, name, name_FR, description, description_FR)
  VALUES (3, 'Assigned', 'Assigné', '', '');

SET IDENTITY_INSERT BugStatus OFF;

GO

/*** ExportWizard Bug  ***/

SET IDENTITY_INSERT Bug ON;


SET IDENTITY_INSERT Bug OFF;

GO

/*** ExportWizard [EvolProduct]  ***/

SET IDENTITY_INSERT [EvolProduct] ON;

INSERT INTO [EvolProduct]([ID],[name],[Description])
  VALUES ( 1, 'Evolutility', 'Lightweight web framework for heavylifting');

INSERT INTO [EvolProduct]([ID],[name],[Description])
  VALUES ( 2, 'EvoDico', 'Database Dictionary for Evolutility');


SET IDENTITY_INSERT [EvolProduct] OFF;

GO

