/* Movie database   */
/* www.evolutility.org - (c) 2009 Olivier Giulieri  */
/*
	This file is part of Evolutility CRUD Framework.
	Source link <http://www.evolutility.org/download/download.aspx>

	Evolutility is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	Evolutility is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with Evolutility. If not, see <http://www.gnu.org/licenses/>.
*/


CREATE TABLE [Movie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[url] [nvarchar](200) NULL,
	[Pix] [nvarchar](200) NULL,
	[directorID] [int] NULL,
	[MovieYear] [smallint] NULL,
	[genreID] [int] NULL,
	[ratingID] [int] NULL,
	[Duration] [smallint] NULL,
	[LanguageID] [int] NULL,
	[Story] [nvarchar](1200) NULL,
	[Awards] [nvarchar](300) NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [MovieRating](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Abbreviation] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_MovieRating] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [MovieNNActor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NULL,
	[ActorID] [int] NULL,
	[Role] [nvarchar](100) NULL,
 CONSTRAINT [PK_MovieNNActor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [MovieLanguage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MovieLanguage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [MovieGenre](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_MovieCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [MovieDirector](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[bdate] [datetime] NULL,
	[bio] [nvarchar](500) NULL,
	[photo] [nvarchar](100) NULL,
 CONSTRAINT [PK_MovieDirector] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO 

CREATE TABLE [MovieActor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[bdate] [datetime] NULL,
	[photo] [nvarchar](200) NULL,
	[bio] [nvarchar](500) NULL
) ON [PRIMARY]

GO

/***  Movie ***/

SET IDENTITY_INSERT Movie ON;


SET IDENTITY_INSERT Movie OFF;


/***  MovieActor ***/

SET IDENTITY_INSERT MovieActor ON;

INSERT INTO MovieActor (ID, name, bdate, photo, bio)
  VALUES (1, 'Keanu Reeves', NULL, 'k_reeves.jpg', '');
INSERT INTO MovieActor (ID, name, bdate, photo, bio)
  VALUES (2, 'Nicolas Cage', NULL, 'n_cage.jpg', '');
INSERT INTO MovieActor (ID, name, bdate, photo, bio)
  VALUES (3, 'Sean Connery', NULL, 's_connery.jpg', '');

SET IDENTITY_INSERT MovieActor OFF;


/***  MovieDirector ***/

SET IDENTITY_INSERT MovieDirector ON;

INSERT INTO MovieDirector (ID, fullname, bdate, bio, photo)
  VALUES (2, 'Andy & Larry Wachowski', NULL, '', '');
INSERT INTO MovieDirector (ID, fullname, bdate, bio, photo)
  VALUES (4, 'Andrew Niccol', NULL, '', '');
INSERT INTO MovieDirector (ID, fullname, bdate, bio, photo)
  VALUES (5, 'Michael Bay', NULL, '', '');

SET IDENTITY_INSERT MovieDirector OFF;


/*** MovieGenre ***/

SET IDENTITY_INSERT MovieGenre ON;

INSERT INTO MovieGenre (ID, name)
  VALUES (1, 'Action & Adventure');
INSERT INTO MovieGenre (ID, name)
  VALUES (2, 'Anime');
INSERT INTO MovieGenre (ID, name)
  VALUES (3, 'Documentory');

SET IDENTITY_INSERT MovieGenre OFF;


/*** MovieLanguage ***/

SET IDENTITY_INSERT MovieLanguage ON;

INSERT INTO MovieLanguage (ID, name)
  VALUES (1, 'English');
INSERT INTO MovieLanguage (ID, name)
  VALUES (2, 'Chinese');
INSERT INTO MovieLanguage (ID, name)
  VALUES (3, 'French');

SET IDENTITY_INSERT MovieLanguage OFF;



/*** MovieNNActor ***/

INSERT INTO MovieNNActor (MovieID, ActorID, Role)
  VALUES (3, 2, '');
INSERT INTO MovieNNActor (MovieID, ActorID, Role)
  VALUES (2, 2, 'Yuri Orlov');
INSERT INTO MovieNNActor (MovieID, ActorID, Role)
  VALUES (4, 5, '');

/*** MovieRating ***/

SET IDENTITY_INSERT MovieRating ON;

INSERT INTO MovieRating (ID, Abbreviation, Name, Description)
  VALUES (1, 'G', 'GENERAL AUDIENCES', 'All ages admitted.');
INSERT INTO MovieRating (ID, Abbreviation, Name, Description)
  VALUES (2, 'PG', 'PARENTAL GUIDANCE SUGGESTED', 'Some material may not be suitable for children.');
INSERT INTO MovieRating (ID, Abbreviation, Name, Description)
  VALUES (3, 'PG-13', 'PARENTS STRONGLY CAUTIONED', '');

SET IDENTITY_INSERT MovieRating OFF;

GO



